* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #333
}


ul {
  margin-left: 40px;
  line-height: 1.9rem
}
.accent-clr {
  color: #BA992F;
}

.bacc-warning {
  color: #ff0f0f;
}

.calc-heading {
  font-size: 1.2rem;
}

.fw-bold {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif !important;
}

.text-upper {
  text-transform: uppercase;
}

.flex {
  display: flex;
  /* flex-direction: column; */
  gap: 15px
}

.arrow {
  display:none;
}

.align-center {
  align-items: center;
  justify-content: center;
}

.mgb-10 {
  margin-bottom: 10px;
}

.mgb-20 {
  margin-bottom: 20px;
}

.mgb-30 {
  margin-bottom: 30px;
}

.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}

.highlight-text {
  /* font-weight: 600; */
  font-size: 1.3rem
}

.bacc-link {
  color: #BA992F;
}

.bacc-link:hover {
  opacity: 0.8;
  cursor: pointer;
}
.tile-heading {
  display: inline-block;
}

.text-rainbow {
  height: 15px;
  width: auto;
  top: 20px;
  right: 20px;
}
.rainbow {
  position: absolute;
  height: 25px;
  width: auto;
  top: 20px;
  right: 20px;
}

.section-right {
  width:100% 
 }
 .section-right img {
  width: 100%; 
  height: auto;
 }

 .tile {
   background-color: #fff;
 }
/* 
  ========================
  Radio btn
  ========================
*/

.radio-btn__container {
  margin-top: 7px;
  display: flex;
  gap: .5rem;
  align-items: center;
  height: 22px;
  background: #ffffff;
  border: #ccc 1px solid;
  height: auto;
  max-width: 300px;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  position: relative;
}

.radio-control {
  display: flex;
  position: relative;
}
 #USD, #GBP , #uk-service, #us-service {
  opacity: 0;
  height: 16px;
  width: 16px;
  position: absolute;
  z-index: 5
}

 #USD + .bambridge-custom-radio::before, #GBP + .bambridge-custom-radio::before, #us-service + .bambridge-custom-radio::before, #uk-service + .bambridge-custom-radio::before  {
  content: '';
  width: 0.5em;
  height: 0.5em;
  box-shadow: inset 0.5em 0.5em #ba9f2a;
  border-radius: 50%;
  transition: 180ms transform ease-in-out;
  transform: scale(0)
}

.text-center {
  text-align: center;
}
 #USD:checked + .bambridge-custom-radio::before, #GBP:checked + .bambridge-custom-radio::before, #uk-service:checked + .bambridge-custom-radio::before,
 #us-service:checked + .bambridge-custom-radio::before {
  transform: scale(1);
}
 #USD:focus + .bambridge-custom-radio, #GBP:focus + .bambridge-custom-radio,  #us-service:focus + .bambridge-custom-radio, #uk-service:focus + .bambridge-custom-radio   {
  box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em #ba9f2a;
}

.bambridge-custom-radio {
  display: grid;
  place-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.1em solid #aaa;
  transform: translateY(-0.05rem)
}
.radio-label {
  /* font-weight: 500; */
  text-transform: capitalize;
  line-height: 1;
}

.sl-radio-btn, .bacc-radio-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


.radio-btn__container label {
  margin-left: 10px;  
  line-height: 1.1rem;
}

.tile-link {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.text-small {
  font-size: .8rem;
  opacity: .8;
}

.tile-icon {
  display: flex;
  justify-content: center;
}
.tile-icon img {
  height: 80px;
  align-self: center;
  
}

.r2 {
  left: 20px;
  transform: rotate(-20deg)
}


.tile-heading {
  text-align: center;
}

.top-section .section-text {
  flex-direction: column;
  max-width: 700px;
}

.filter {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000;
  opacity: .8;
  transition: all .3s ease-in
}
.block-2 p {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.block-2:hover > .filter {
  left: 0
}

.block-2 {
  width: 100%;
  background-image: url('/CSS/img/plan.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.rainbow:hover  {
  content: '1.5% of your fee will go to charity';
  display: block;
  font-size: 10rem;
}