
.row {
  flex-direction: column;
}
@media only screen and (min-width: 500px) {
  .row {
    flex-direction: row;
  }
}

@media only screen and (min-width: 768px) {

  .tile-section {
    max-width: 900px;
    margin: auto
  }

  .section-bacc-content {
    flex-wrap: wrap;
  }

  .top-section .section-text {
    align-items: center;
    justify-content: center;
  }


  .section-bacc-content {
    flex-direction: row;
    justify-content: center;
  }
  .tile {
    padding: 20px;
    width: 32%;
    transition: all .2s;
  }

  .tile-text {
    font-size: .9rem;
  }

  .section-right {
    width:100% 
   }
   .section-right img {
    width: 100%; 
    height: auto;
   }

   .block-2 {
     height: 400px;
   }
}

@media only screen and (min-width: 1000px) {
  .tile:hover {
    transform: translateY(-5px);
    border-top: 4px solid #ba992f;
    cursor: pointer;
    box-shadow: .5rem .5rem 1.25rem rgba(0,0,0,0.2);
  }

  .img-container {
    height: 400px;
  }

  .arrow {
    display: block;
    /* height: 10px; */
    z-index: 10;

    width: auto;
    position: absolute;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: 5s;
  }

  @keyframes bounce {
    0% {top: 60%; right: 35%}
    50% {top: 70%; right: 30%; transform: rotate3d(2, 3, 2, 45deg);}
    100% {top: 60%; right: 35%}
  }
  .container {
    background-color: #eeeeee;
  }

  .bacc-inner-container {
    padding: 40px;
  }

  .block-2 {
    height: 100%
  }


  .section-heading .section-text {
    max-width: 600px;
    margin-bottom: 40px;
    text-align: center;
  }

  .bottom .section-right {
    
  }

  .top-section, .full-section {
    flex-direction: row;
    justify-content: space-around;
  }

  .full-section {
    width: 100%;
  }

  .top-section .section-text {
    align-items: unset;
    max-width: 650px
  }


  .tile-section {
    padding: 80px 0
  }
  
  .block-1 {
    padding: 20px;
    width: 90%
  }

  .padding {
    padding: 80px 40px;
  }

  .block-2 {
    width: 100%;
    background-image: url('/CSS/img/plan.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .block-2 p {
    opacity: 0;
    transition: all .5s ease-in;
  }

  .filter {
    position: absolute;
    top: 0;
    right: 0;
    left: 100%;
    bottom: 0;
    background-color: #000;
    opacity: .8;
    transition: all .3s ease-in
  }
  
  .full-section:hover .block-2 > .filter {
    left: 0;
  }

  .full-section:hover .block-2 p {
    opacity: 1;
  }

  .full-section__inner {
    flex-direction: row;
  }
  .full-section {
    padding: 0;
  }
  .full-section:hover {
    cursor: pointer;
  }
}